[submodule "cuda-samples"]
	path = cuda-samples
	url = https://github.com/NVIDIA/cuda-samples
[submodule "cudalibrarysamples"]
	path = cudalibrarysamples
	url = https://github.com/nvidia/cudalibrarysamples

[submodule "eml06/project/tvm"]
	path = eml06/project/tvm
	url = https://github.com/apache/tvm
[submodule "SRCNN-pytorch"]
	path = SRCNN-pytorch
	url = https://github.com/yjn870/SRCNN-pytorch
